### **_Desafio DataScience_.**

#### **Realizar a análise de uma base de dados real em Python.**

### **_Responder as seguintes questões:_**
#### a. Qual o tamanho desse dataset?
#### b. Qual a média da coluna windspeed?
#### c. Qual a média da coluna temp?
#### d. Quantos registros existem para o ano de 2011?
#### e. Quantos registros existem para o ano de 2012?
#### f. Quantas locações de bicicletas foram efetuadas em 2011?
#### g. Quantas locações de bicicletas foram efetuadas em 2012?
#### h. Qual estação do ano contém a maior média de locações de bicicletas?
#### i. Qual estação do ano contém a menor média de locações de bicicletas?
#### j. Qual horário do dia contém a maior média de locações de bicicletas?
#### k. Qual horário do dia contém a menor média de locações de bicicletas?
#### l. Que dia da semana contém a maior média de locações de bicicletas?
#### m. Que dia da semana contém a menor média de locações de bicicletas?
#### n. Às quartas-feiras (weekday = 3), qual o horário do dia contém a maior média de locações de bicicletas?
#### o. Aos sábados (weekday = 6), qual o horário do dia contém a maior média de locações de bicicletas?

In [2]:
# Importando bibliotecas
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv("https://pycourse.s3.amazonaws.com/bike-sharing.csv")
df.head()

,datetime,rec_id,season,year,month,hour,is_holiday,weekday,is_workingday,weather_condition,temp,atemp,humidity,windspeed,casual,registered,total_count
0,2011-01-01,1,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2011-01-01,2,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,2011-01-01,3,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,2011-01-01,4,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,2011-01-01,5,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1