### **üë®üèΩ‚Äçüíª_Desafio DataScience_üë®üèΩ‚Äçüíª.**

#### **‚ö†Ô∏èRealizar a an√°lise de uma base de dados real utilizando Python e conceitos de datascience‚ö†Ô∏è.**

### **_Responder as seguintes quest√µes:_**
#### a. Qual o tamanho desse dataset? ‚úÖ
#### b. Qual a m√©dia da coluna windspeed? ‚úÖ
#### c. Qual a m√©dia da coluna temp? ‚úÖ
#### d. Quantos registros existem para o ano de 2011? ‚úÖ
#### e. Quantos registros existem para o ano de 2012? ‚úÖ
#### f. Quantas loca√ß√µes de bicicletas foram efetuadas em 2011? ‚úÖ
#### g. Quantas loca√ß√µes de bicicletas foram efetuadas em 2012? ‚úÖ
#### h. Qual esta√ß√£o do ano cont√©m a maior m√©dia de loca√ß√µes de bicicletas?
#### i. Qual esta√ß√£o do ano cont√©m a menor m√©dia de loca√ß√µes de bicicletas?
#### j. Qual hor√°rio do dia cont√©m a maior m√©dia de loca√ß√µes de bicicletas?
#### k. Qual hor√°rio do dia cont√©m a menor m√©dia de loca√ß√µes de bicicletas?
#### l. Que dia da semana cont√©m a maior m√©dia de loca√ß√µes de bicicletas?
#### m. Que dia da semana cont√©m a menor m√©dia de loca√ß√µes de bicicletas?
#### n. √Äs quartas-feiras (weekday = 3), qual o hor√°rio do dia cont√©m a maior m√©dia de loca√ß√µes de bicicletas?
#### o. Aos s√°bados (weekday = 6), qual o hor√°rio do dia cont√©m a maior m√©dia de loca√ß√µes de bicicletas?

In [1]:
# Importando bibliotecas
import numpy as np
import pandas as pd

In [7]:
df = pd.read_csv("https://pycourse.s3.amazonaws.com/bike-sharing.csv")
df.head()

,datetime,rec_id,season,year,month,hour,is_holiday,weekday,is_workingday,weather_condition,temp,atemp,humidity,windspeed,casual,registered,total_count
0,2011-01-01,1,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2011-01-01,2,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,2011-01-01,3,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,2011-01-01,4,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,2011-01-01,5,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

In [6]:
# Qual o tamanho desse dataset?
t = df.shape
print("O tamanho do Dataset √©: ", t)

O tamanho do Dataset √©:  (17379, 17)

In [13]:
# Qual a m√©dia da coluna windspeed?
m = df['windspeed'].mean().round(4)
print("A media da coluna windspeed ser√°: ", m)

A media da coluna windspeed ser√°:  0.1901

In [15]:
# Qual a m√©dia da coluna temp?
m = df['temp'].mean().round(4)
print("A media da coluna temp ser√°: ", m)

A media da coluna temp ser√°:  0.497

In [78]:
# Quantos registros existem para o ano de 2011 e 2012?
df['year'].value_counts() #TRAS A CONTAGEM SIMPLES DA COLUNA YEAR (0 = 2011, 1 = 2012)

#df.loc[df['year'] == 1].value_counts() #TRAS O DATASET COMPLETO SOMENTE COM O FILTRO DA COLUNA YEAR (0 = 2011, 1 = 2012)

1    8734
0    8645
Name: year, dtype: int64

In [53]:
# Quantas loca√ß√µes de bicicletas foram efetuadas em 2011 e 2012?
# YEAR (0 = 2011, 1 = 2012)
df.loc[df["year"] == 1, "total_count"].sum()

2049576